body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-80 {
  width: 80%;
  height: auto;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.browse-button {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.home-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.navbar {
  margin-bottom: 20px;
}

.list-group-item {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.list-group-item:hover,
.list-group-item:focus {
  background-color: #f8f9fa;
  cursor: pointer;
}

.link-item {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.link-item:hover,
.link-item:focus {
  color: inherit;
}

.city-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}

.card-title {
  margin-bottom: 0;
}

.itinerary-item {
  text-align: left;
}

.itinerary-item p {
  margin: 0;
  padding: 0;
}

/* Custom CSS for City Cards */
.city-card {
  position: relative;
  overflow: hidden;
  border: none;
  height: 300px; /* Fixed height for all cards */
  width: 100%; /* Ensure the card takes full width */
}

.city-card-img {
  height: 100%; /* Ensure the image covers the card height */
  width: 100%; /* Ensure the image covers the card width */
  object-fit: cover; /* Ensures the image covers the card area */
}

.city-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
}

.city-card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.star-rating {
  display: inline-block;
}

.star {
  font-size: 20px;
  color: lightgray;
}

.star.filled {
  color: gold;
}